html,
body {
  min-height: 100vh;
}

body {
  color: white;
  background-color: #414141;
}

.title,
.label,
.checkbox:hover,
.radio:hover {
  color: white;
}

#checkboxlabel {
  margin-left: 10px;
}

#logo {
  width: 200px;
}

#body {
  max-width: 450px;
}

#bodywide {
  max-width: 600px;
}